{% extends "layout.html" %}
{% block body %}
<div id="loader" class="lds-dual-ring hidden overlaynew"></div>
<section class="signup-step-container">

  <div class="container">

    <form class="regForm contract_form" id="regForm" action="/contract_details" method="post"
      enctype="multipart/form-data" onsubmit="return validateMyForm();">


      <div class="tab">

        <div class="upload-head">
          <h1>Please Upload file</h1>
          <p class="text-center">Please upload a signed quotation or the customer purchase order</p>
        </div>


        <div class="formbold-main-wrapper">
          <!-- Author: FormBold Team -->
          <!-- Learn More: https://formbold.com -->
          <div class="formbold-form-wrapper">
            <div class="mb-6">


              <div class="formbold-mb-5 formbold-file-input">
                <input type="file" name="file" id="file" hidden />
                <label for="file">
                  <div>
                    <span class="formbold-drop-file text-center"> <img
                        src="{{ url_for('static', filename='assets/img/storage 1.png') }}"></span>
                    <span class="formbold-drop-file"> Select a file or drag and drop here </span>
                    <span class="formbold-or"> Or </span>
                    <span class="formbold-browse"> Select file </span>
                    <div id="up-progress">
                      <div id="up-bar"></div>
                      <div id="up-percent">0%</div>
                    </div>
                    <div id="feedback">
                    </div>


                  </div>
                </label>
              </div>
              <div class='alert alert-danger mt-2 d-none text-danger' id="err_file"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab">

        <div class="upload-head">
          <h1>Select Use Case:</h1>

        </div>


        <div class="formbold-main-wrapper">
          <!-- Author: FormBold Team -->
          <!-- Learn More: https://formbold.com -->
          <div class="formbold-form-wrapper">
            <div class="mb-6">

              <fieldset class="repeatable-field" data-component="field-repeater" data-props='
              {
                  "maxRows": 10,
                  "inputName": "guests",
                  "labelText": "Guest"
              }' tabindex="0">
                <legend>
                  Specifications
                </legend>

                <ol class="repeatable-field__rows" data-ref="rowList"></ol>

                <div class="repeatable-field__bottom">
                  <span class="repeatable-field__limit-counter" data-ref="limitCounter"></span>

                  <button class="repeatable-field__add-button button" data-ref="addButton" type="button">
                    + Add Specifications
                  </button>
                </div>
              </fieldset>

            </div>
          </div>
        </div>
      </div>
      <div class="tab">

        <div class="upload-head">
          <h1>Enter Charector Length of Answer:</h1>

        </div>


        <div class="formbold-main-wrapper">
          <!-- Author: FormBold Team -->
          <!-- Learn More: https://formbold.com -->
          <div class="formbold-form-wrapper">
            <div class="mb-6">

              <div class="group input-group">
                <label class="control-label labelcalss" for="email">No of Character</label>
                <div class="group input-group">
                  <input type="text" placeholder="Workspace Name" name="workspace_name" id="workspace_name" value="">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab">

        <div class="upload-head">
          <h1>Enter Charector Length of Answer:</h1>

        </div>


        <div class="">
          <!-- Author: FormBold Team -->
          <!-- Learn More: https://formbold.com -->
          <div class="formbold-form-wrapper">
            <div class="container mt-4">

              <div class="text-center darken-grey-text mb-4">
                <h1 class="font-bold mt-4 mb-3 h5">Download Extracted Questions CSV File</h1>
                <a class="btn btn-danger btn-md" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">CSV download<i class="fa fa-download pl-2"></i></a>
              </div>
        
              <div class="card mb-4">
                <div class="card-body">
                  <!-- Grid row -->
                  <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
                      <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within table</h2>
                      <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search something here..." aria-label="Search">
                        <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"style="width:40px;"><a><i class="bi bi-search"></i></a></span>
                      </div>
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                  <!--Table-->
                  <table class="table table-bordered table-striped"id="questionTable">
                    <!--Table head-->
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Questions</th>
                        <th colspan="2">Actions</th>
                        
                      </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                     
                    </tbody>
                    <!--Table body-->
                  </table>
                  <!--Table-->
                </div>
              </div>
            
        
            </div>
            <!--MDB Tables-->
          </div>
        </div>
      </div>

    </form>
    <div class="formbold-main-wrapper">
      <!-- Author: FormBold Team -->
      <!-- Learn More: https://formbold.com -->
      <div class="formbold-form-wrapper">
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>

  </div>

  </div>

  </div>
</section>

{% endblock %}